/* .ClassList.column {
    float  : left;
    width  : 25%;
    padding: 10px 10px;
} */

/* Remove extra left and right margins, due to padding */
/* .ClassList.row {
    margin: 0 -5px;
} */

/* Clear floats after the columns */
/* .ClassList.row:after {
    content: "";
    display: table;
    clear  : both;
} */

/* @media screen and (max-width: 1024px) {
    .ClassList.column {
        width        : 33%;
        display      : block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 850px) {
    .ClassList.column {
        width        : 50%;
        display      : block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .ClassList.column {
        width        : 100%;
        display      : block;
        margin-bottom: 20px;
    }
} */

/* Style the counter cards */
/* .ClassList.card {
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding         : 16px;
    text-align      : center;
    background-color: #f1f1f1;
} */
/* .ClassList{
    
} */
