.Individual  {
  margin-top      : 40px;
  padding         : 24px 12px;
  width           : 100%;
  height          : 400px;
  text-align      : center;
  background-color: #fff;
  color           : #384661;
  border          : none;

}

.Individual .titlename{
  font-size: 24px;
}
.Individual .body span {
  font-size: 10pt;
}

.Individual .main {
  position     : absolute;
  border       : solid 0.5px rgba(49, 41, 41, 0.342);
  width        : 78.5vw;
  height       : 25vh;
  border-radius: 5px;
  display      : block;
  display      : flex;
  justify-self : space-between;
  font-size    : 10pt;
}

.Individual .boxone {
  border-bottom: solid 0.5px rgba(49, 41, 41, 0.548);
  width        : 70%;
  height       : 15%;
}

.Individual .boxtwo {
  border-bottom: solid 0.5px rgba(49, 41, 41, 0.548);
  width        : 70%;
  height       : 15%;
}

.Individual .boxthree {
  border-bottom: solid 0.5px rgba(49, 41, 41, 0.548);
  width        : 70%;
  height       : 15%;
}

.Individual .boxfour {
  border-bottom: solid 0.5px rgba(49, 41, 41, 0.548);
  width        : 70%;
  height       : 15%;
}

.Individual .boxfive {
  border-bottom: solid 0.5px rgba(49, 41, 41, 0.548);
  width        : 70%;
  height       : 15%;
}

.Individual .boxsix {
  width : 70%;
  height: 15%;
}

.Individual .boxone:hover,
.Individual .boxtwo:hover,
.Individual .boxthree:hover,
.Individual .boxfour:hover,
.Individual .boxfive:hover,
.Individual .boxsix:hover {
  left            : 20%;
  background-color: rgba(0, 0, 0, 0.062);
  cursor          : pointer;
  background-color: #00000025;
  transition      : 3ms;

}

.Individual .font {
  height     : 30px;
  text-align : center;
  line-height: 30px;
}

.Individual .radio {
  margin       : auto 10px;
  border-radius: 100%;
  border       : 1px solid darken(color1, 25%);
}

/* 
.Individual button {
  background-color: #384661; */
/* Green */
/* border          : none;
  color           : white;
  padding         : 15px 15px;
  text-align      : center;
  font-size       : 14px;
  cursor          : pointer;
  border-radius   : 5px;
} */

@media screen and (max-width: 768px) {
  .content {
    width    : 100%;
    font-size: 15px;
  }

  /* .Individual { */
  /* font-size: 15px; */
  /* display: block;
  } */
}

@media screen and (max-width: 525px) {
  .Individual .main {
    height: 90vh;
  }
}

.Individual .user {
  width : 20vw;
  height: 24vh;

}

.Individual .userimg {
  width : 12vw;
  height: 20vh;
  margin: 3vh 4vw;
}

.Individual .content {
  height     : 25vh;
  padding-top: 2vh;
}

/* .Individual .rec-content {
  position     : absolute;
  top          : 30vh;
  left         : 0vw;
  border       : solid 0.5px rgba(49, 41, 41, 0.342);
  width        : 70.5vw;
  height       : 50vh;
  border-radius: 5px;
  display      : block;
  display      : flex;
  justify-self : space-between;
  font-size    : 10pt;
} */

.Individual .tablecontent {
  position        : absolute;
  text-align      : left;
  margin-top      : 28vh;
  width           : 78.5vw;
  height: 60vh;
}

.Individual table {
  border          : solid 0.5px rgba(49, 41, 41, 0.342);
  border-radius   : 5px;
  width : 100%;
  height: 100%;
  text-align: center;
}

.Individual tr td,th {
  border-bottom         : solid 0.5px rgba(49, 41, 41, 0.342);
}