* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Loging.limiter {
    width: 100%;
    margin: 0 auto;
}
.Loging.container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #88D59F 0%, #374562 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: .95;
}
.Loging.wrap {
    width: 500px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
    -o-box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
    -ms-box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
}
.Loging.form {
    width: 100%;
    position: relative;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 170px;
}
.Loging.title {
    font-family: JosefinSans-Bold;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #6abe83;
    padding-top: 50px;
    padding-bottom: 39px;
}
.Loging.input {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #dee2de;
    border-radius: 27px;
    padding: 0 35px;
    margin-bottom: 16px;    
}
.Loging.txt1 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #999;
    line-height: 1.4;
    padding-bottom: 9px;
}
.Loging.txt2 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #6abe83;
    line-height: 1.4;
}
.Loging.text-right{
    text-align: right;
    padding-bottom: 23px;
    padding-top: 13px;
}
.Loging.btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #6abe83;
    border-radius: 25px;
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.Loging.btn:hover {
    background-color: #43995c;
    cursor: pointer;
}
.Loging.text-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 170px;
}
.input,button {
    outline: none;
    border: none;
    overflow: visible;
}
