.personal .body {
    position  : absolute;
    top       : 60px;
    left      : 25%;
    text-align: center;
}

.personal .main {
    position     : absolute;
    top          : 120px;
    left         : 25%;
    border       : solid 0.5px rgba(49, 41, 41, 0.342);
    width        : 70.5vw;
    height       : 50vh;
    border-radius: 5px;
    display      : flex;
    justify-self : space-between;
}

.personal .boxone {
    position     : absolute;
    top          : 10%;
    left         : 5%;
    border-bottom: solid 0.5px rgba(49, 41, 41, 0.548);
    width        : 95%;
    height       : 15%;
}

.personal .boxtwo {
    position     : absolute;
    top          : 25%;
    left         : 5%;
    border-bottom: solid 0.5px rgba(49, 41, 41, 0.548);
    width        : 95%;
    height       : 15%;
}

.personal .boxthree {
    position     : absolute;
    top          : 40%;
    left         : 5%;
    border-bottom: solid 0.5px rgba(49, 41, 41, 0.548);
    width        : 95%;
    height       : 15%;
}

.personal .boxfour {
    position     : absolute;
    top          : 55%;
    left         : 5%;
    border-bottom: solid 0.5px rgba(49, 41, 41, 0.548);
    width        : 95%;
    height       : 15%;
}

.personal .boxfive {
    position     : absolute;
    top          : 70%;
    left         : 5%;
    border-bottom: solid 0.5px rgba(49, 41, 41, 0.548);
    width        : 95%;
    height       : 15%;
}

.personal .boxsix {
    position: absolute;
    top     : 85%;
    left    : 5%;
    width   : 95%;
    height  : 15%;

}

.personal .boxone:hover,
.personal .boxtwo:hover,
.personal .boxthree:hover,
.personal .boxfour:hover,
.personal .boxfive:hover,
.personal .boxsix:hover {

    left            : 0%;
    width           : 100%;
    background-color: rgba(0, 0, 0, 0.062);
    cursor          : pointer;
    padding-left    : 5%;
    background-color: #00000025;


}

.personal .font {
    height     : 60px;
    text-align : center;
    line-height: 60px;
}

/* .personal .huhubox {
    height          : 40px;
    width           : 20px;
    background-color: burlywood;
} */

.personal .input {
    width        : 50vw;
    height       : 5vh;
    font-size    : 14pt;
    color        : #000000b7;
    margin       : 5px 15px;
    padding-left : 25px;
    border-radius: 27px;
}

.personal .radio {
    margin       : auto 10px;
    border-radius: 100%;
    border       : 1px solid darken(color1, 25%);
}

/* .personal .btnsend {
    position: absolute;
    top     : 68vh;
    left    : 88vw;
    width   : 250px;
    height  : 50px;
} */

.personal button {
    background-color: #384661;
    /* Green */
    border          : none;
    color           : white;
    padding         : 15px 15px;
    text-align      : center;
    font-size       : 14px;
    cursor          : pointer;
    border-radius   : 5px;
}

@media screen and (max-width: 768px) {
    .content {
        width    : 100%;
        font-size: 15px;
    }

    .personal{
        /* font-size: 15px; */
        display: inline-block;
    }
}

@media screen and (max-width: 525px) {
    .personal .main {
        height: 90vh;
    }
}