* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Register.limiter {
    width: 100%;
    margin: 0 auto;
}
.Register.container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: relative;
    padding: 15px;

    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #88D59F 0%, #374562 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: .95;
}
.Register.wrap {
    width: 800px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
    -o-box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
    -ms-box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
}
.Register.form {
    width: 100%;
    position: relative;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 135px;
}
.Register.title {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #6abe83;
    padding-top: 30px;
    padding-bottom: 30px;
}
.Register.list{
    width: 100%;
    line-height: 30px;
}
.Register.red-dot{
    color: #F00;
    height: 30px;
    line-height: 30px;
    float: left;
}
.Register.list-text{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    color: #6abe83;
}
.Register.input {
    border: 1px solid #C4C4C4;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    display: block;
    overflow: hidden;
    font-size: 15px;
    letter-spacing: 1px;
    background: #FFFFFF;
    color: #999999;
}
.Register.login-btn {
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    background-color: #6abe83;
    border-radius: 25px;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.Register.login-btn:hover {
    background-color: #43995c;
    cursor: pointer;
}
.input,button {
    outline: none;
    border: none;
    overflow: visible;
}
