
.AddIndividualTeach{
position: absolute;
top:15vh;
left:25vw;
float: left;
width: 70vw;
height: 80vh;
background-color: rgb(233, 247, 225);
border-radius:0px 27px 27px 27px;
/* box-shadow:0px 0px 4px rgb(126, 94, 84); */
}
.AddIndividualTeach .titlename{
  margin-top: -50px;
  padding-top:5px;
  border-radius:10px 10px 0px 0px;
  text-align: center;
  line-height: 40px;
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: #3f8f588c;
}
.AddIndividualTeach .body{
  padding: 5vh 5vw;
}
.AddIndividualTeach  input{
  border: none;
  border-radius: 10px;
  
}
.AddIndividualTeach  textarea{
  border: none;
  border-radius: 10px;
  resize: none;
}
.AddIndividualTeach select{
  border: none;
  border-radius: 10px;
}
.AddIndividualTeach .level{
  float: left;
  padding: 5px 5px;
  width: 100%;
  height: 10%;
}
.level span{
  margin-right: 10px;
}
.AddIndividualTeach .titname{
  text-align: center;
  line-height: 50px;
}