.AddIndividualTeach .body {
  margin-top: 40px;
  padding: 24px 12px;
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: #fff;
  color: #384661;
  border: none;
}



.AddIndividualTeach .main {
  position: absolute;
  border: solid 0.5px rgba(49, 41, 41, 0.342);
  width: 78.5vw;
  height: 25vh;
  border-radius: 5px;
  display: block;
  display: flex;
  justify-self: space-between;
  font-size: 10pt;
}

.AddIndividualTeach .boxone:hover,
.AddIndividualTeach .boxtwo:hover,
.AddIndividualTeach .boxthree:hover,
.AddIndividualTeach .boxfour:hover,
.AddIndividualTeach .boxfive:hover,
.AddIndividualTeach .boxsix:hover {
  left: 20%;
  background-color: rgba(0, 0, 0, 0.062);
  cursor: pointer;
  background-color: #00000025;
  transition: 3ms;
}

.AddIndividualTeach .font {
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.AddIndividualTeach .radio {
  margin: auto 10px;
  border-radius: 100%;
  border: 1px solid darken(color1, 25%);
}

.AddIndividualTeach input{
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}



@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    font-size: 15px;
  }

  /* .AddIndividualTeach { */
  /* font-size: 15px; */
  /* display: block;
  } */
}

@media screen and (max-width: 525px) {
  .AddIndividualTeach .main {
    height: 90vh;
  }
}

.AddIndividualTeach .user {
  width: 20vw;
  height: 24vh;
}

.AddIndividualTeach .userimg {
  width: 12vw;
  height: 20vh;
  margin: 3vh 4vw;
}


.AddIndividualTeach .tablecontent {
  position: absolute;
  text-align: left;
  margin-top: 24px;
  width: 78.5vw;
  height: 60vh;
}

.AddIndividualTeach table {
  border: solid 0.5px rgba(49, 41, 41, 0.342);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.AddIndividualTeach textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.AddIndividualTeach .titlename {
  font-size: 24px;
}
/* 
.AddIndividualTeach tr td,th {
  border-bottom         : solid 0.5px rgba(49, 41, 41, 0.342);
} */
