.TutorCoachingrecord .title {
  margin-top      : 40px;
  padding         : 24px 12px;
  width           : 100%;
  height          : 400px;
  text-align      : center;
  background-color: #fff;
  color           : #384661;
  border          : none;
}

.TutorCoachingrecord .titlename {
  font-size: 24px;
}

.TutorCoachingrecord .table {
  width: 100%;

}

.TutorCoachingrecord .table thead {
  color: #384661;
}

.TutorCoachingrecord .theadstart {
  text-align: start;
}

.TutorCoachingrecord .table tbody tr {
  transition: all 0.5s;
}

.TutorCoachingrecord .table tbody tr:hover {
  background-color: #d1e4d7;
  cursor          : pointer;
}

.TutorCoachingrecord .list {
  background-color: #74bd8a;

  line-height: 45px;
  height     : 45px;
}

.TutorCoachingrecord .list-body {
  background-color: #ffffff;
  line-height     : 45px;
  height          : 45px;
}

.TutorCoachingrecord thead th {
  border: solid 1px #c4c4c4;
}

.TutorCoachingrecord tbody td {
  border: solid 1px #c4c4c4;
}

.TutorCoachingrecord .btn {
  border             : none;
  width              : 50px;
  height             : 20px;
  /* background-color: #fae9b0; */
  font-size          : 12pt;
  margin-right       : 8px;
  outline            : none;
}

.TutorCoachingrecord .td-btn {
  width: 20%;
}

.TutorCoachingrecord .btn {
  width           : 50px;
  height          : 25px;
  border-radius   : 25px;
  background-color: #384661;
  color           : #fff;
}

.TutorCoachingrecord .btn:hover {
  cursor: pointer;
}

.TutorCoachingrecord .index-img {
  width : 100%;
  height: 350px;
}

.TutorCoachingrecord img {
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

/*TeacherManagement*/

.TutorCoachingrecord .tabletitle {
  line-height     : 60px;
  height          : 60px;
  background-color: #fff;
  text-align      : left;
  letter-spacing  : 3px;
  padding-left    : 2%;
}

.TutorCoachingrecord .tablecursor {
  line-height     : 60px;
  height          : 60px;
  background-color: #fff;
  text-align      : right;
  padding-right   : 2%;
  font-size       : 16px;
}

.TutorCoachingrecord .submit {
  padding              : 5px 15px;
  background           : #384661;
  color                : #fff;
  border               : 0 none;
  cursor               : pointer;
  -webkit-border-radius: 5px;
  border-radius        : 5px;
}

.TutorCoachingrecord .text {
  padding              : 5px 15px;
  border               : 2px #6abe83 solid;
  cursor               : pointer;
  -webkit-border-radius: 5px;
  border-radius        : 5px;
  margin-right         : 5px;
}

.TutorCoachingrecord .input {
  border            : 1px solid #c4c4c4;
  width             : 100%;
  height            : 40px;
  line-height       : 40px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow        : inset 0 1px 3px rgba(0, 0, 0, 0.3);
  overflow          : hidden;
  font-size         : 15px;
  letter-spacing    : 1px;
  background        : #ffffff;
  color             : #999999;
}

.TutorCoachingrecord .foot {
  border-top: dashed 1pt #d1e4d7;
  text-align: center;

}

.TutorCoachingrecord .footmain {
  margin: 30px 6px;
}
