* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.Card.column {
    float  : left;
    width  : 25%;
    padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.Card.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.Card.row:after {
    content: "";
    display: table;
    clear  : both;
}

@media screen and (max-width: 1024px) {
    .column {
        width        : 33%;
        display      : block;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 850px) {
    .column {
        width        : 50%;
        display      : block;
        margin-bottom: 10px;
    }
}

/* Responsive columns */
@media screen and (max-width: 500px) {
    .column {
        width        : 100%;
        display      : block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.Card.card {
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding         : 16px;
    text-align      : center;
    background-color: #f1f1f1;
}