/* header */
.header {
  position: absolute;
  padding: 0 auto;
}

.header .Navbar {
  position: static;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 40px;
  background-color: #6abe83;
  color: #dde1eb;
  display: flex;
  justify-content: space-between;
  border: none;
  z-index: 10;
}

.header .Navbar .Navbar-logo {
  margin-left: 83px;
  font-size: 18pt;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.header .Navbar .Navbar-login {
  height: 100%;
  margin-right: 3%;
  font-size: 12pt;
  line-height: 40px;
}

/* hover */
.header .Navbar .Navbar-login a {
  color: #384661;
  transition: all 0.5s;
  text-decoration: none;
}
.header .Navbar .Navbar-login a:hover {
  color: #fff;
  cursor: pointer;
}
