.Sidebar {
    position        : fixed;
    top             : 0px;
    left            : 0px;
    width           : 20vw;
    float           : left;
    height          : 100vh;
    font-size       : 15px;
    color           : #ffffff;
    font-weight     : bold;
    background-color: #384661;
    box-shadow      : 0px 3px 5px 0px #4b4b42ab;
    padding         : 10px 15px;
    margin-top      : 40px;
    transition      : 0.8s;
    z-index         : 5;
    overflow        : scroll;
}

.Sidebar::-webkit-scrollbar {
    display: none;
}

.Menu .Sidebar .ul {
    margin     : 5px 5px;
    line-height: 2;
}

.Menu .Sidebar .ul .list {
    width       : 100%;
    height      : 40px;
    line-height : 40px;
    list-style  : none;
    padding-left: 10px;
    transition  : all 0.5s;
}

.Menu .Sidebar .ul .list:hover {
    opacity: 0.8;
}

.Menu .Block-one {
    height          : 100vh;
    width           : 20vw;
    background-color: antiquewhite;
}

.Menu .img {
    width         : 30px;
    padding-right : 10px;
    vertical-align: middle;
}

.Menu .list:hover {
    /* background-color:#6abe83 ; */
    /* color           : #ffffff; */

    border-radius : 27px;
    cursor        : pointer;
    /* border-left:solid 1px #6abe83b4 ;*/
}

.Menu .list:hover>.Menu.img {
    width: 30px;
}

.Menu .buger {
    position        : fixed;
    top             : 0px;
    left            : 0px;
    line-height     : 40px;
    width           : 80px;
    height          : 40px;
    background-color: #295e39;
    box-shadow      : 2px 0px 5px 0px #4b4b42ab;
    text-align      : center;
    z-index         : 20;
    outline         : none;
    border          : none;
    display         : none;
}

.Menu .buger-img {
    vertical-align: middle;
}

.Menu .buger:hover {
    cursor: pointer;
}

.Menu .buger:active>.Menu.buger-img {
    width: 22px;
}

.Menu .linkstyle {
    text-decoration: none;
    color          : #fff;
}

@media screen and (max-width: 768px) {
    .Sidebar {
        width: 250px;
        left : -250px;
    }

    .Menu .buger {
        display: block;
    }

    .Sidebar.active {
        left: 0px;
    }
}

/*
.footer {

  
  設定footer的高度
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  設定footer絕對位置在底部
  position: absolute;
  bottom  : 0;
  展開footer寬度
  width  : 150px;
  padding: 10px 14px;

}

.footer-list {
  display     : inline-block;
  width: 100%;
  line-height : 18px;
  list-style: none;
  font-size: 9pt;
  

}

.footer-font {
  font-size: 6pt;
  list-style: none;
  
}

.Menu.img {
  vertical-align: middle;
  margin-right  : 5px;
}
hr{
  border:solid 0.5px #384661;
 }

*/