/* menu */
.Sidebar {
    position           : fixed;
    width              : 150px;
    float              : left;
    height             : 100vh;
    font-size          : 15px;
    color              : #384661;
    font-weight        : bold;
    /* background-color: #f29f8f; */
    box-shadow         : 0px 3px 5px 0px #4b4b42ab;
    padding            : 10px 15px;
    margin-top         : 40px;
    top                : 0;
    left               : 0;
}

.active {
    left: -150px;
}

.Menu-list {
    width       : 100%;
    height      : 30px;
    line-height : 30px;
    list-style  : none;
    padding-left: 10px;
}

.Menu-ul {
    margin: 5px 5px;
}

.Menu-img {
    padding-right : 10px;
    vertical-align: middle;
}

.Menu-list:hover {
    /* background-color:#6abe83 ; */
    /* color           : #ffffff; */

    border-radius : 27px;
    cursor        : pointer;
    /* border-left:solid 1px #6abe83b4 ;*/
}



.Menu-list:hover>.Menu-img {
    width: 30px;
}

.logo {
    text-align: center;
    font-size : 20pt;
    padding   : 10px 10px;
}

.Menu-buger{
position: absolute;
top: 0vw;
left: 0vh;
line-height: 40px;
width: 80px;
height: 40px;
background-color: #295e39;
box-shadow         : 2px 0px 5px 0px #4b4b42ab;
text-align: center;
z-index:inherit auto;
outline: none;

}
.Menu-buger-img { 
    vertical-align: middle;
}
.Menu-buger:hover {
    cursor: pointer;
}
.Menu-buger:active > .Menu-buger-img{
    width: 22px;
}
@media (max-width: 768px) {
    .Sidebar {
        left: -180px;
    }
    .active {
        left:0px
    }
}

/**/
.footer {

  color: #384661;
  /* 設定footer的高度 */

  box-sizing: border-box;
  /* 設定footer絕對位置在底部 */
  position: absolute;
  bottom  : 0;
  /* 展開footer寬度 */
  width  : 150px;
  padding: 10px 14px;

}

.footer-list {
  display     : inline-block;
  width: 100%;
  line-height : 18px;
  list-style: none;
  font-size: 9pt;

}

.footer-font {
  font-size: 6pt;
  list-style: none;
}

img {
  vertical-align: middle;
  margin-right  : 5px;
}
hr{
  border:solid 0.5px #384661;
 }