.studen-title {
  position: absolute;
  top:10vh;
  left:25vw ;
  width           : 40vw;
  padding-top: 10px;
  height          : auto;
  text-align: center;
  background-color: #384661;
  color           : #fff;
  border-radius: 27px;
  

}

.studen-list {
 line-height: 28px;
 height: 28px;
}
/**/
